<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="yyyy-mm-dd(name,label)" class="form-group">
    <span class="col-sm-2 control-label" th:for="${name}" th:value="${label}">开业时间:</span>
    <div class="col-sm-4">
        <input type="text" th:name="${name}" th:id="${name}"
               class="form-control" th:placeholder="${name}"
               maxlength="20" readonly="readonly"
               onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
    </div>
</div>
</body>
</html>